{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css') }}">
    <div>

        <h1>Create Student</h1>



        <form method="POST">
  <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" name="name" class="form-control" >
      <p class="text-danger"> {% if errors and errors['name'] %}  {{errors['name']}} {%endif%} </p>
  </div>
            <div class="mb-3">
    <label  class="form-label">Email</label>
    <input type="email" name='email' class="form-control" >
        <p class="text-danger"> {% if errors and errors['email'] %}  {{errors['email']}} {%endif%} </p>

  </div>
            <div class="mb-3">
    <label  class="form-label">Accepted</label>
    <input type="checkbox"  name="accepted" class="" >
  </div>
            <div class="mb-3">
    <label  class="form-label">Age</label>
    <input type="number" name="age" class="form-control" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
{% endblock %}